Repository web-infra-dev/rsdoctor, pull requests merged in 2025-03, with the labels that each got.

#793 fix(ui): add spacing between tile graph disabled and the link
  packages/components/src/pages/BundleSize/components/index.tsx
Labels: change: fix

#792 fix(ui): add spacing before the modules count
  packages/components/src/pages/BundleSize/components/asset.tsx
Labels: change: fix

#790 feat(ui): improve tree graph tooltip
  packages/components/src/pages/BundleSize/components/index.tsx
Labels: change: feat

#791 fix(ui): add spacing before size value
  packages/components/src/pages/BundleSize/components/asset.tsx
Labels: change: fix

#798 fix: parsing module failed in lynx projects
  packages/core/src/build-utils/build/utils/parseBundle.ts
Labels: change: fix

#785 docs: optimize the rsdoctor's bundle size document
  packages/document/docs/en/guide/usage/bundle-size.mdx
  packages/document/docs/zh/guide/usage/bundle-size.mdx
Labels: change: docs

#805 docs: update terminology from "builder" to "bundler" and improve clarity
  README.md
  README.zh-CN.md
  packages/document/docs/en/blog/topic/duplicate-pkg-problem.mdx
  packages/document/docs/en/guide/more/faq.mdx
  packages/document/docs/en/guide/start/quick-start.mdx
  packages/document/docs/en/guide/usage/bundle-size.mdx
  packages/document/docs/en/guide/usage/compile-overall.mdx
  packages/document/docs/zh/blog/topic/duplicate-pkg-problem.mdx
  packages/document/docs/zh/guide/more/faq.mdx
  packages/document/docs/zh/guide/start/quick-start.mdx
  packages/document/docs/zh/guide/usage/bundle-size.mdx
  packages/document/docs/zh/guide/usage/compile-overall.mdx
Labels: change: docs

#806 docs: add edit-link
  packages/document/rspress.config.ts
Labels: change: docs

#807 docs: format Rsdoctor options zh desc
  packages/document/docs/zh/config/options/options.mdx
Labels: change: docs

#809 docs: update terminology and improve clarity
  README.zh-CN.md
  packages/document/docs/en/blog/release/release-note-0_1.mdx
  packages/document/docs/en/blog/release/release-note-0_3.mdx
  packages/document/docs/en/blog/topic/loader-optimization.mdx
  packages/document/docs/en/guide/start/intro.mdx
  packages/document/docs/en/guide/start/quick-start-shared.mdx
  packages/document/docs/en/guide/usage/bundle-size.mdx
  packages/document/docs/en/guide/usage/plugins-analysis.mdx
  packages/document/docs/en/guide/usage/project-overall.mdx
  packages/document/docs/en/guide/usage/resolver.mdx
  packages/document/docs/zh/blog/release/release-note-0_1.mdx
  packages/document/docs/zh/blog/release/release-note-0_3.mdx
  packages/document/docs/zh/blog/topic/loader-optimization.mdx
  packages/document/docs/zh/guide/start/intro.mdx
  packages/document/docs/zh/guide/start/quick-start-shared.mdx
  packages/document/docs/zh/guide/usage/bundle-size.mdx
  packages/document/docs/zh/guide/usage/module-analysis.mdx
  packages/document/docs/zh/guide/usage/plugins-analysis.mdx
  packages/document/docs/zh/guide/usage/project-overall.mdx
  packages/document/docs/zh/guide/usage/resolver.mdx
  packages/document/docs/zh/guide/usage/rule-config.mdx
Labels: change: docs

#810 docs: translate faq example
  packages/document/docs/en/config/options/options.mdx
  packages/document/docs/en/guide/more/faq.mdx
Labels: change: docs

#821 fix: the bundled size of the folder is wrong
  packages/components/src/pages/BundleSize/components/asset.tsx
Labels: change: fix

#824 docs: add open graph image for v1.0
  packages/document/docs/public/og-image.png
  packages/document/rspress.config.ts
Labels: change: docs

#825 docs: optimize the nextjs usage
  packages/document/docs/en/guide/more/faq.mdx
  packages/document/docs/en/guide/start/quick-start-shared.mdx
  packages/document/docs/zh/guide/more/faq.mdx
  packages/document/docs/zh/guide/start/quick-start-shared.mdx
Labels: change: docs

#781 docs: add v1.0 release note
  packages/document/docs/en/_meta.json
  packages/document/docs/en/blog/release/_meta.json
  packages/document/docs/en/blog/release/release-note-0_1.mdx
  packages/document/docs/en/blog/release/release-note-0_3.mdx
  packages/document/docs/en/blog/release/release-note-0_4.mdx
  packages/document/docs/en/blog/release/release-note-1_0.mdx
  packages/document/docs/en/guide/start/quick-start-shared.mdx
  packages/document/docs/zh/_meta.json
  packages/document/docs/zh/blog/release/_meta.json
  packages/document/docs/zh/blog/release/release-note-0_1.mdx
  packages/document/docs/zh/blog/release/release-note-0_3.mdx
  packages/document/docs/zh/blog/release/release-note-0_4.mdx
  packages/document/docs/zh/blog/release/release-note-1_0.mdx
Labels: change: docs

#829 docs: polish release blog
  packages/document/docs/en/blog/release/release-note-1_0.mdx
  packages/document/docs/zh/blog/release/release-note-1_0.mdx
Labels: change: docs

#830 docs: update introduction
  README.md
  README.zh-CN.md
  packages/document/docs/en/blog/release/release-note-1_0.mdx
  packages/document/docs/en/guide/start/intro.mdx
  packages/document/docs/zh/blog/release/release-note-0_1.mdx
  packages/document/docs/zh/blog/release/release-note-1_0.mdx
  packages/document/docs/zh/guide/start/intro.mdx
Labels: change: docs

#831 fix: update `supports.banner` logs
  packages/core/src/inner-plugins/plugins/bundleTagPlugin.ts
  packages/document/docs/en/config/options/options.mdx
  packages/document/docs/en/guide/usage/bundle-size.mdx
  packages/document/docs/zh/config/options/options.mdx
  packages/document/docs/zh/guide/usage/bundle-size.mdx
Labels: change: fix

#832 docs: cleanup README files
  packages/cli/README.md
  packages/client/README.md
  packages/components/README.md
  packages/core/README.md
  packages/graph/README.md
  packages/rspack-plugin/README.md
  packages/sdk/README.md
  packages/types/README.md
  packages/utils/README.md
  packages/webpack-plugin/README.md
Labels: change: docs

#840 fix: the problem when use mini-css-extract-plugin loader
  e2e/cases/doctor-webpack/fixtures2/a.js
  e2e/cases/doctor-webpack/fixtures2/b.js
  e2e/cases/doctor-webpack/fixtures2/index.less
  e2e/cases/doctor-webpack/fixtures2/loaders/comment.js
  e2e/cases/doctor-webpack/fixtures2/loaders/serialize-query-to-comment.js
  e2e/cases/doctor-webpack/fixtures2/loaders/serialize-resource-query-to-comment.js
  e2e/cases/doctor-webpack/fixtures2/port.js
  e2e/cases/doctor-webpack/plugins/loader-mini-css-extract.test.ts
  packages/core/src/inner-plugins/utils/loader.ts
  pnpm-lock.yaml
Labels: change: fix
